@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Roboto, sans-serif;
}
.swiper-slide {
  height: 100%;
}
.Toastify {
  position: absolute;
  z-index: 999999;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@layer components {

  
  .textPrimary {
    color: #364152;
  }
  .textPrimary2 {
    color: #2D3791;
  }
  .textLink {
    color: #f06e28;
  }
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .textShadow {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#0277BD] to-[#1D8BCD];
  }
  .bgLogin {
    background-image: url(../assets/images/bg-login3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btnGradient {
    background: linear-gradient(
      90deg,
      rgba(3, 169, 244, 0.8) 0%,
      rgba(28, 167, 224, 0.8) 100%
    );
    border-radius: 5px;
  }
  .bgPrimary {
    background: #2d3791;
  }
  .bgPrimary2 {
    background: #F06E28;
  }
  .bgReport {
    background: linear-gradient(90deg, #0277bd 0%, #1d8bcd 100%);
  }
  .shadowReport {
    box-shadow: 0px 2px 6px rgba(20, 20, 21, 0.14);
  }
  .activeMenu {
    @apply text-white bgPrimary rounded-md hover:text-white focus:text-white focus:no-underline shadow-mediumShadow;
  }
  .activeMenuMobile {
    @apply text-white rounded-none btnGradient;
  }
}

.ant-picker-ok {
  color: #000;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
 
}

a {
  color: inherit;
  text-decoration: none;
}

