<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <p>Dear <span th:text="${fullName}"></span></p>
</div>
<div>
    <p>The event <span th:text="${eventName}"></span> will start at <span th:text="${timeStart}"></span> <span th:text="${dateStart}"></span>. We hope you will join on time</p>
</div>
<div>
    <p>Location: <span th:text="${location}"></span></p>
</div>
<div>
    <p>Best regards,</p>
    <p>The Support Team</p>
</div>
</body>
</html>