<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <p>Dear <span th:text="${fullName}"></span></p>
</div>
<div>
    <p>Date <span th:text="${dateStart}"></span>, event <span th:text="${eventName}"></span> will start. Event will talk about <span th:text="${topic}"></span> .We hope you can
        take some time to attend </p>
</div>
<div>
    <p>Time: <span th:text="${timeStart}"></span></p>
</div>
<div>
    <p>Location: <span th:text="${location}"></span></p>
</div>
<div>
    <img th:src="${image}"/>
</div>
<div>
    <p>Best regards,</p>
    <p>The Support Team</p>
</div>
</body>
</html>